<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .text-red {
            color: red;
        }

        .text-green {
            color: green;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="message">
        <input type="text" v-bind:value="message" v-on:input="message = $event.target.value">
        {{message}}

        <div>
            <input v-model="loginForm.username">
            <input v-model="loginForm.password">
            <button v-on:click="submitForm">Submit</button>
        </div>
        <p>
            {{filteredList}}
        </p>

        <p>
            <button v-on:click="user = show ? {'name':'RogerCcopa'}: null; show = !show;">
                Toggle Component List
            </button><br/>
            <span v-if="user">
                {{user.name}}
            </span>
        </p>

        <div v-if="show">
            <ul>
                <li v-for="(person, index) in list">
                    <span-component v-bind:item="person" v-bind:ndx="index" v-on:shout="log"></span-component>
                </li>
            </ul>
        </div>
    </div>

    <script>
        const { createApp, ref } = Vue;

        var vueApp = createApp({
            data()
            {
                return {
                    message: "Hello App1",
                    loginForm: {
                        username: "",
                        password: ""
                    },
                    list: [
                        { name: "Roger", age: 53, color: "red" },
                        { name: "Sonia", age: 18, color: "red" },
                        { name: "Croquet", age: 28, color: "green" }
                    ],
                    user: null,
                    show: true
                };
            },
            methods: {
                submitForm()
                {
                    console.log("Submitting form", this.loginForm);

                    var self = this;
                    var callLog = () =>
                    {
                        self.log("Logging: something");
                        self.log(self.formInfo);
                    };

                    callLog();
                },
                log(obj)
                {
                    var { value } = obj;  // deconstruct and take 'value' property
                    console.log(value);
                }
            },
            computed: {
                formInfo: function ()
                {
                    return this.loginForm.username + "/" + this.loginForm.password;
                },
                filteredList: function ()
                {
                    return this.list.filter(itm => itm.name.indexOf('e') > 0);
                }
            },
            created()
            {
                console.log("Main created");
            },
            mounted()
            {
                console.log("Main mounted");
            }
        });
        vueApp.component('span-component', {
            props: {
                item: Object,
                ndx: Number,
                // title:String,
                // isPublished:Boolean,
                // commentIds:Array,
                // callback:Function,
                // contactsPromise:Promise
            },
            template: "<span v-on:click=\"shout(ndx)\" " +
                "v-bind:class=\"{'text-red':item.color === 'red', 'text-green':item.color === 'green'}\">" +
                "{{ndx + 1}}. {{item.name}}:{{item.age}}" +
                "</span>",
            methods: {
                shout(val)
                {
                    this.$emit('shout', { value: val });
                }
            },
            created()
            {
                console.log("Component created");
            }
        });
        vueApp.mount('#app');
    </script>
</body>

</html>