<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <input type="text" v-bind:value="message" v-on:input="message = $event.target.value">
        {{message}}

        <div>
            <input v-model="loginForm.username">
            <input v-model="loginForm.password">
            <button v-on:click="submitForm">Submit</button>
        </div>
        <p>
            {{filteredList}}
        </p>

        <p>
            <button v-on:click="user = {name:'Roger'}">Toggle</button>
            <span v-if="user">
                {{user.name}}
            </span>
        </p>
    </div>

    <script>
        const {createApp, ref} = Vue;

        var vueApp = createApp({
            data() {
                return {
                    message: "Hello App1",
                    loginForm: {
                        username: "",
                        password: ""
                    },
                    list: [
                        "Roger", "Sonia", "Croquet"
                    ],
                    user: null
                };
            },
            methods: {
                submitForm() {
                    console.log("Submitting form", this.loginForm);

                    var self = this;
                    var callLog = () => {
                        self.log("Logging: something");
                        self.log(self.formInfo);
                    };

                    callLog();
                },
                log(val) {
                    console.log(val);
                }
            },
            computed: {
                formInfo: function() {
                    return this.loginForm.username + "/" + this.loginForm.password;
                },
                filteredList: function() {
                    return this.list.filter(itm => itm.indexOf('e') > 0);
                }
            }
        });
        vueApp.mount('#app');
    </script>
</body>
</html>